
html {
  position: relative;
  min-height: 100%;
}

.navbar-default{
  background-color: #fff;
}

body {
  background-color: #F8F9FA;
}

body h1 {
	text-align: center;
}

.userLogReg {
  display: block;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: #fff;
}
