
html {
  height: 100%;
}

.navbar-default{
  background-color: #fff;
}

body {
  height: 100%;
  background-color: #F8F9FA;
}

body h1 {
  text-align: center;
}

.content {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -30px;
}

.footer {
  background-color: #ffffff;
}

.footer, .push {
  height: 30px;
}

#search {
  width: 450px;
  margin-top: 10px;
}

#login-form,#register-form {
  margin-top: 5%;
}

span.glyphicon-envelope {
    font-size: 1.2em;
    vertical-align: middle;
}

span.badge {
  font-size: 0.8em;
}

.notificationBox {
  width: 350px;
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.quicksearch {
  width: 350px;
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.inlineButtons {
  display: inline;
}
